
<div class="cards">
  <% @personnalities.order(:name).each do |personnality| %>
      <div class="card-trip m-2">
        <%= link_to personnality_path(personnality), class:"card-trip" do %>
          <% if personnality.photo.key? %>
            <%= cl_image_tag personnality.photo.key, crop: :fill %>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <% end %>
        <% end %>
        <%= link_to personnality_path(personnality), class:"linkdiv" do %>
          <div class="card-trip-infos  d-flex align-items-start">
          <div class="add-favorite position-absolute top-0 end-0"><i class="fa-regular fa-heart"></i></div>
            <div class="personnality-infos-card">
              <h2 class="personnality-name"><%= personnality.name %></h2>

<div class="d-flex  fs-6">
<div class="d-flex text-center">
<% @joinskills.where(personnality_id: personnality.id).each do |join| %>
<div class="icone-list-pers d-flex p-2 miniicone"> <i class="<%= join.skill.icone %>"></i></div>
<% end %>
</div>
</div>

              <h2><span class="price-text"><%= personnality.price %></span> € / jour</h2>

            </div>
            <h2 class="card-trip-rating d-flex"><i class="fa-solid fa-star rose px-1"></i> <%= personnality.rating %></h2>
          </div>
        <% end %>






      </div>
  <% end %>
</div>
