<%= simple_form_for(personnality) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :punchline %>
  <%= f.input :photo, as: :file %>
    <div class="checkbox-container">
      <% Skill.all.each do |skill| %>
        <% checked = @personnality.skills.include?(skill) %>
        <div class="my-custom-class">
        <%= f.check_box :skill_ids, { multiple: true }, skill.id, checked: checked %>
        <%= skill.name %>
        </div>
      <% end %>
    </div>
  <%= f.submit "Update", class:"btn-flat"%>


<% end %>
