<div class="sous-container">
  <div class="personnality-details">
    <div class="personnality-header">
      <div class="images">
        <%= cl_image_tag @personnality.photo.key, crop: :fill %>
        <a class="btn btn-ghost" href="#"><i class="fa-solid fa-fire"></i> Super méchant</a>
      </div>
      <div class="skills">
        <h1><%= @personnality.name  %></h1>
        <% @personnality.skills.each do |skill| %>
          <h3><%= skill.name.capitalize %></h3>
        <% end %>
        <p class="card-trip-pricing d-flex"></p>
      </div>
    </div>

    <div class="personnality-content">
      <%= render "list-skills" %>
      <h2>Mon experience :</h2>
      <p><%= @personnality.description %></p>
    </div>
  </div>

  <div class="purchase-sidebar" style="border: 1px solid rgb(221, 221, 221); border-radius: 12px; padding: 24px; box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;">
    <div class="title">
      <span><h3><strong><%= @personnality.price %>€</strong></h3></span>
      <span><p class="m-2">par jour</p></span>
      <span class="rating"><p class="card-trip-pricing d-flex"><i class="fa-solid fa-star rose px-1"></i> <%= @personnality.rating %></p></span>
    </div>
    <%= render "booking-form", personnality: @personnality %>
  </div>
</div>
